<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Basic Page Needs
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        <title>New User Added!</title>
        <meta name="description" content="">
        <meta name="author" content="">
      
        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
      
        <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
      
        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="../stylesheets/normalize.css">
        <link rel="stylesheet" href="../stylesheets/skeleton.css">
      
        <!-- Favicon
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="icon" type="image/png" href="../images/favicon.png">
      
      </head>
<body>
    <h1>User Added Successfully</h1>
    <p>The new user <strong><%= username %></strong> has been added to the database.</p>

    <div>
        <a href="/register">Add Another User</a><br>
        <a href="/adminDashboard">Go to Admin Dashboard</a><br>
        <a href="/calendar">Go to Calendar</a>
    </div>
</body>
</html>
