<!DOCTYPE html>
<html>
	<head>

		<!-- Basic Page Needs
		    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8">
		<title>Welcome!</title>
		<meta name="description" content="">
		<meta
		name="author" content="">

		<!-- Mobile Specific Metas
		    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta
		name="viewport" content="width=device-width, initial-scale=1">

		<!-- FONT
		    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link
		href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

		<!-- CSS
		    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="stylesheet" href="stylesheets/normalize.css">
		<link
		rel="stylesheet" href="stylesheets/skeleton.css">

		<!-- Favicon
		    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
			<link rel="icon" type="image/png" href="images/favicon.png">

		<style>
			.styled-text::first-letter {
				font-size: 2em; /* Makes the first letter larger */
				font-weight: bold; /* Optional: Makes it bold */
				color: #ff33f8; /* Optional: Adds a different color */
			}
		</style>

	</head>
	<body>
		<div class="container">
			<div class="'row">
				<div class="one-half column"  style="margin-top: 15%">
				
					
						<h5 class="styled-text">Volunteer</h5>
						<h5 class="styled-text">Sign-up</h5>
						<h5 class="styled-text">Sheet</h5>
					
					<hr>
					<i>這是一個共享日曆，群組管理員在這裡通告活動事項，成員可以報名出席或出勤。

						要加入成為成員，請留下稱號及流動電話號碼，待我們向你發放第一次登入密碼。首次登入後，請更改密碼；你的電話號碼將加密儲存於我們的資料庫。
						
					</i>
					<hr>
					<h3><a href="/auth/login">Login</a></h3>
					<br>

					<h3>
						<a href="/requestToJoin">request to join.</a>
					</h3>
					
				</div>
			</div>
		</div>
	</body>
</html>
