<!DOCTYPE html>
<html>
	<head>

		<!-- Basic Page Needs
		    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8">
		<title>Welcome!</title>
		<meta name="description" content="">
		<meta
		name="author" content="">

		<!-- Mobile Specific Metas
		    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta
		name="viewport" content="width=device-width, initial-scale=1">

		<!-- FONT
		    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link
		href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

		<!-- CSS
		    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="stylesheet" href="stylesheets/normalize.css">
		<link
		rel="stylesheet" href="stylesheets/skeleton.css">

		<!-- Favicon
		    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
			<link rel="icon" type="image/png" href="images/favicon.png">

		<style>
			.styled-text::first-letter {
				font-size: 2em; /* Makes the first letter larger */
				font-weight: bold; /* Optional: Makes it bold */
				color: #ff33f8; /* Optional: Adds a different color */
			}
		</style>

	</head>
	<body>
		<div class="container">
			<div class="'row">
				<div class="one-half column"  style="margin-top: 15%">

						<h5 class="styled-text">Volunteer</h5>
						<h5 class="styled-text">Sign-up</h5>
						<h5 class="styled-text">Sheet</h5>
					
					<hr>
					<p><a href="/auth/login">Login</a> _|_ <a href="/requestToJoin">Request to join</a> </p>
					<br>
						<p>這是一個私人群組，主要功能是顯示日曆及人數；管理員在這裡通告活動事項，有意出席或出勤的成員，可以填寫自己揀選的日期。</p>
						<p>要加入成為成員，請留下稱號及流動電話號碼，待我們向你發放第一次登入密碼。首次登入後，請更改密碼；你的電話號碼將加密儲存於我們的資料庫。</p>
						
						<table>
							<thead>
								<tr>
									<th>VSS日曆適用於:</th>
									<th>目的：</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<ul>
											<li>義工招募/調配</li>
											<li>自組活動/旅遊</li>
										</ul>
									</td>
									<td>
										<ul>
											<li>避免夾雜太多訊息</li>
											<li>人數一目了然</li>
										</ul>
									</td>
								</tr>
							</tbody>

						</table>
					<hr>
				</div>
			</div>
		</div>
	</body>
</html>
