<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../stylesheets/skeleton.css">
  <link rel="stylesheet" href="../stylesheets/normalize.css">
  <!-- Favicon
		    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="icon" type="image/png" href="../images/favicon.png">
  <title>User Login</title>
</head>
<body>
    <div class="container">
        
  
    <div class="row">
        
        <div class="one-half column" style="margin-top: 25%">
          <p>
            <a href="/logout"> Log out </a> _|_
            <a href="/adminDashboard"> Back to Admin Dashboard </a>
          </p>
            <hr>
            <h2><%= title %></h2>

  
      <table id="newBees" class="u-full-width">
        <thead>
          <tr>
            <th><strong>Name</strong></th>
            <th><strong>Phone</strong></th>
            <th><strong>Action</strong></th>
          </tr>
        </thead>
        <tbody id="newBeesTableBody">
          <% if (bees.length === 0) { %>
            <tr>
              <td colspan="2">No new requests</td>
            </tr>
          <% } else { %>
            <% bees.forEach(bee => { %>
              <tr>
                <td><%= bee.name %></td>
                <td><%= bee.phone.replace(/\d(?=\d{4})/g, "*") %></td>
                <td>
                  <button type="button" class="delete-button" data-id="<%= bee.id %>" >Archive</button>
                </td>
                <td>.</td>
              </tr>
            <% }); %>
          <% } %>
        </tbody>
      </table><br>

  </div></div></div>

  
</body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    console.log("DOM fully loaded and parsed");
    const deleteButtons = document.querySelectorAll(".delete-button");

    deleteButtons.forEach(button => {
      button.addEventListener("click", async () => {
        const beeId = button.getAttribute("data-id"); 
        
        const userConfirmed = window.confirm("Are you sure you want to archive this bee?");

        if (!userConfirmed) return; // Exit if user cancels

        try {
          const response = await fetch(`/bees/archiveBee/${beeId}`, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
          });

          if (response.ok) {
            button.closest("tr").remove(); // Remove the table row on successful deletion
            alert("Newbee is archived.");
          } else {
            alert("Failed to archive newBee. Please try again.");
          }
        } catch (error) {
          console.error("Error while sending newbee to archive:", error);
          alert("Something went wrong. Please try again later.");
        }
      });
    });
  });
</script>