<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Basic Page Needs
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        <title>Registration is completed</title>
        <meta name="description" content="">
        <meta name="author" content="">
      
        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
      
        <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
      
        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="../stylesheets/normalize.css">
        <link rel="stylesheet" href="../stylesheets/skeleton.css">
      
        <!-- Favicon
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="icon" type="image/png" href="../images/favicon.png">
      
      </head>
<body>
    <h1>New User <%= name %> has been added to database. 🎉</h1>

    <p>What would you like to do next?</p>
    <button onclick="window.location.href='/register'">Register Another User</button>
    <button onclick="window.location.href='/'">Back to Home</button>
</body>
</html>