<!DOCTYPE html>
<html>
  <head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Welcome to VSS</title>
    <meta name="description" content="">
    <meta name="author" content="">
  
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/skeleton.css">
  
    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">
  
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="one-half column" style="margin-top: 25%">
<h3><%= title %></h3>
<form id="textForm" class="textForm flexCenter" action="/requestToJoin" method="post">
    <label for="nameEntry">Please enter your name:</label>
    <input
        
        id="nameEntry"
        class="textEntry"
        type="text"                    
        name="name"
        autocomplete="off"
    />
    <label for="phoneEntry">Please enter your phone:</label>
    <input
        
        id="phoneEntry"
        class="textEntry"
        type="text"                    
        name="phone"
        autocomplete="off"
    />
    <button id="submitText" class="button-primary">Send request</button>
    <p id="textResponse"></p>
    <a href="/">Back to Home</a>
</form>


            
</div>
</div>
</div>
</body>
</html>