<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Basic Page Needs
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        <title>Request received</title>
        <meta name="description" content="">
        <meta name="author" content="">
      
        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
      
        <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
      
        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="../stylesheets/normalize.css">
        <link rel="stylesheet" href="../stylesheets/skeleton.css">
      
        <!-- Favicon
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="icon" type="image/png" href="../images/favicon.png">
      
      </head>
<body><div class="container">
    <div class="row">
        <div class="one-half column" style="margin-top: 25%">

    <h1>Thank you, <%= name %>! We will get back to you.</h1>
</div></div></div>
    <script>
        // Redirect to the home page after 5 seconds
        setTimeout(function() {
            window.location.href = '/';
        }, 4000);
    </script>
</body>
</html>
