<!DOCTYPE html>
<html>
	<head>

		<!-- Basic Page Needs
		    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8">
		<title>Welcome to VSS</title>
		<meta name="description" content="">
		<meta
		name="author" content="">

		<!-- Mobile Specific Metas
		    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta
		name="viewport" content="width=device-width, initial-scale=1">

		<!-- FONT
		    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link
		href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

		<!-- CSS
		    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="stylesheet" href="../stylesheets/normalize.css">
		<link
		rel="stylesheet" href="../stylesheets/skeleton.css">

		<!-- Favicon
		    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="icon" type="image/png" href="../images/favicon.png">

	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="one-half column" style="margin-top: 25%">
					<h3><%= title %></h3>
					<p>Logged in as <%= user.username %></p>

					<form id="updatePasswordForm" class="textForm flexCenter" action="/users/updatePassword" method="post">
						
						<label for="currentPassword">Current Password:</label>
						<input id="currentPassword" class="textEntry" type="password" name="currentPassword" autocomplete="off"/>
						<label for="newPassword">New Password:</label>
						<input id="newPassword" class="textEntry" type="password" name="newPassword" autocomplete="off"/>
						<label for="newPassword2">Re-enter New Password:</label>
						<input id="newPassword2" class="textEntry" type="password" name="newPassword2" autocomplete="off"/>
						<button id="submitUpdate" class="button-primary">Update Password</button>
						<p id="updateResponse"></p>
						<a href="/">Back to Home</a>
					</form>

				</div>
			</div>
		</div>
	</body>
</html>
